@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    font-size: 16px;
}

@keyframes entering {
    from {
        opacity: 1;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
     background-color: #9e9ea0;
     border-radius: 1.25rem;
}

body {
    font-family: Poppins;
    background: linear-gradient(90deg, rgb(32, 27, 129) 0%, rgb(70, 18, 64) 100%);
    animation: entering 1s ease-in-out;
    overflow: overlay;
}

.nav {
    display: flex;
    position: fixed;
    width: 67%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 40px;
    margin: 3.125rem 14rem 0;
    padding: 1rem .25rem;
    flex-direction: row;
}

figure img {
    height: 3.125rem;
    margin-top: 0.188rem;
    padding: 0 1.25rem;
}

figure img:hover {
    transform: scale(1.1);
    transition: 1.1s;
}

.navegacao ul {
    justify-self: end;
}

.navegacao ul li {
    display: inline-block;
    justify-content: center;
    padding: 0 1.25rem;
    font-weight: bold;
    color: white;
}

.navegacao ul li:hover {
    /* background-color: rgb(63, 63, 63); */
    text-decoration: underline;
    background-size:10.625rem;
    border-radius: 2.5rem;
    transition: 0.4s;
}

.section-div {
    background: linear-gradient(90deg, rgb(32, 27, 129) 0%, rgb(70, 18, 64) 100%);
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 14rem 14.375rem 14.375rem;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;

}

.section-div div h2 {
    color: #ffffff;

}

.section-div div p {
    color: white;
    justify-content: end;
}

.img-rennan {
    max-width: 31.25rem;
    border-radius: 3rem;
    display: flex;
    margin-left: 0.063rem;
}

.parte-preta {
    background-color: black;
    padding: 13.75rem;
    align-items: center;
    justify-content: space-around;

}

.parte-preta h2 {
    color: white;
}

.parte-preta p {
    color: white;
    justify-content: end;
}

.gradiente {
    background: linear-gradient(90deg, rgb(32, 27, 129) 0%, rgb(70, 18, 64) 100%);
    padding: 18.125rem;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem;
    /* display: grid; */
}

.gradiente h2 {
    color: #ffffff;
}

.gradiente p {
    color: #ffffff;
}

.preta-final {
    background-color: black;
    padding: 17.5rem;
    align-items: center;
    justify-content: space-around;
    /* gap: 60px; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.preta-final h2 {
    color: #ffffff;
}

.preta-final p {
    color: #ffffff;
}
.img-meta{
    display: flex;
    max-width: 12.5rem;
    margin-top: 3.75rem;
}